
.main-content{

}

.users-list-dropdown{
    display: block;
    border-bottom: 1px solid #e75f5f;
    margin-bottom: 5px;
    padding-bottom: 25px;

}

.users-list-dropdown select {
    background-color: #e75f5f;
}

.user-details-form{
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    width: 40%;
}

.user-form-row {
    text-align: left;
    border-bottom: 1px solid #e75f5f;
    padding: 5%;
}
.user-profile-picture{
    display: inline-block;
    vertical-align: top;

}
.user-resume{
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    height: 500px;
    overflow: scroll;
    min-width: 20%;
}

.display-label{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    min-width: 65px;
}
.app-input-text{
    display: inline-block;
    margin-left: 10px;
    width: 70%;
    height: 30px;
    border: none;
    border-radius: 1px;
    color: #e75f5f;
    text-align: left;
}
.app-input-text input,.app-input-text textarea {
    color: white;
    background-color: #e75f5f;
    width: 100%;
    border-radius: 2px;
}

.app-input-file {
    background-color: #e75f5f;
    margin-top: 10px;
    border-radius: 10px;
}

.app-button {
    background-color: #e75f5f;
    color: white;
    border: none;
    border-radius: 12%;
    margin-top: 3%;
    margin-bottom: 1%;
    width: 200px;
    height: 30px;
    margin-right: 10px;
}

.app-button:hover {
    background-color: #f2f2f2;
    color: #e75f5f;
}

.app-button:active {
    background-color: #e75f5f;
    color: white;
}