div {
    border: 1px solid #e75f5f;

}
.main-content{

}
.users-list-dropdown{
    display: block;
}
.user-details-form{
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}
.user-form-row {
    text-align: left;
}
.user-profile-picture{
    display: inline-block;
    vertical-align: top;

}
.user-resume{
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    height: 500px;
    overflow: scroll;
    min-width: 20%;
}

.display-label{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    min-width: 65px;
}
.app-input-text{
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    width: 70%;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: #e75f5f;
    text-align: left;
}