.edit-user-details{
  display: block;

}
.form-group {
  display: block;
  margin-top: 10px;

}

.form-group input {
  width: 70%;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #e75f5f;
  display: inline-block;
}

.form-group .lbl {
  display: inline-block;
}

.form-group .inpt {
  display: inline-block;
}

.app-button {
  background-color: #e75f5f;
  color: white;
  border: none;
  border-radius: 12%;
  margin-top: 3%;
  margin-bottom: 1%;
  width: 200px;
  height: 30px;
}
.app-button:hover {
  background-color: #f2f2f2;
  color: #e75f5f;
}
.app-button:active {
  background-color: #e75f5f;
  color: white;
}

.fileUploadInput {
  display: grid;
  grid-gap: 10px;
  position: relative;
  z-index: 1;
}

.fileUpload-wrapper {
    text-align: center;
    width: 10%;
    margin: auto;
    display: inline-block;
    margin:10px;
}

.fileUploadInput label {
  display: flex;
  align-items: center;
  color: white;
  background: #e75f5f;
  transition: 0.4s ease;
  font-family: arial, sans-serif;
  font-size: 0.75em;
  font-weight: regular;
}

.fileUploadInput input {
  position: relative;
  z-index: 1;
  padding: 0 gap(m);
  width: 100%;
  height: 25px;
  border: 1px solid #e75f5f;
  border-radius: 3px;
  font-family: arial, sans-serif;
  user-select: none;
  cursor: pointer;
  font-weight: regular;
}
.fileUploadInput input[type="file"] {
  padding: 0 gap(m);
}
.fileUploadInput input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
  margin-left: 10px;
  padding: 0;
  height: 25px;
  width: 0;
}

.fileUploadInput button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 25px;
  line-height: 0;
  user-select: none;
  color: white;
  background-color: #e75f5f;
  border-radius: 0 3px 3px 0;
  font-family: arial, sans-serif;
  font-size: 1rem;
  font-weight: 800;
}
.fileUploadInput button svg {
  width: auto;
  height: 50%;
}


.users-list{
  display: block;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
  padding-bottom: 2%;
  background-color: #e75f5f;
  color:white;
  text-align: center;
  select {
    width: 60%;
    margin: auto;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #e75f5f;
    display: block;
  }


}