SECRETKEY=SECRETVALUE
API_URL=http://localhost:5074
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=http://localhost:3000/callback?thirdParty=github
GITHUB_OAUTH_TOKEN_URL=https://github.com/login/oauth/access_token

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/callback?thirdParty=google
GOOGLE_OAUTH_TOKEN_URL=https://oauth2.googleapis.com/token