.login-form {
  color: #e75f5f;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 1px solid #e75f5f;
  border-radius: 12%;
  width: 20%;
  margin: auto;
  margin-top: 5%;
  padding: 1%;
  margin-bottom: 1%;
  .login-email {
    text-align: left;
    div {
      font-size: 0.8em;
  }
  }
  h1 {
    margin-bottom: 20px;
  }
  .login-password {
    text-align: left;
      div {
          font-size: 0.8em;
      }
  }
  .login-submit {
      background-color: #e75f5f;
      color: white;
      border: none;
      border-radius: 12%;
      margin-top: 3%;
      margin-bottom: 1%;
      width: 60%;
      height: 30px;
  }
  .login-submit:hover {
      background-color: #e98585;
  }
  .login-submit:active {
      background-color: #efa6a6;
  }
}

.lbl {
  font-size: 0.8em;
  color: #e75f5f;
  display: inline-block;
  min-width: 10em;

}

.txtBoxlbl
{
display: inline-block;
input {
  min-width: 16.5em;
  background-color: black;
  color:#e75f5f;
}
}

.thirdPatySignLogin{
  background-image: url('/static/images/google_signin.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 60px;
  cursor: pointer;
  border: none;
  width: 15em;
}

.githubbtn {
  background-image: url('/static/images/github-signin.png');
  background-color: white;
  height: 100px;
  width: 33em;
}