.users {
  margin: 2%;
  text-align: left;

  .first-header{
    background-color: #e75f5f;
    border-radius: 5px;
  }

  .header {
    padding: 1%;
    border-bottom: 1px solid #e75f5f;
    font-weight: bold;
    .column-header {
      display: inline-block;
      width: 20%;
    }
  }

  .user {
    padding: 1%;
    border-bottom: 1px solid #e75f5f;
    border-radius: 5px;

    .user-id {
      font-weight: bold;
    }

  }
  .user:hover {
    background-color: #e75f5f;
    color: white;
    border-radius: 5px;
    border-color: white;
  }

}
