.users {
  margin: 2%;
  text-align: left;



  .header {
    padding: 1%;
    border-bottom: 1px solid #e75f5f;
    font-weight: bold;
    .column-header {
      display: inline-block;
      width: 20%;
    }
  }

  .first-header{
    background-color: #e75f5f;
    border-radius: 5px;
    border-bottom: 1px solid white;
  }

  .user {
    padding: 1%;
    border-bottom: 1px solid #e75f5f;
    border-radius: 5px;

    .user-id {
      font-weight: bold;
    }

  }
  .user:hover {
    background-color: #e75f5f;
    color: white;
    border-radius: 5px;
    border-color: white;
  }

  .edit-btn {
    text-align: right;
    cursor: pointer;
  }
  .save-btn {
    text-align: left;
    padding-left: 2%;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .editable-firstName {
    display: inline-block;
    width: 100%;
    color:#e75f5f;
    font-weight: bold;
    font-size: x-large;
  }

  .search-txt {
    width: 80%;
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
    border: 1px solid #e75f5f;
    color: #e75f5f;
  }

}
